/* ************************************** */
/*    GENERAL SETUP      */
/* ************************************** */
html {
  /* Does not work with Safari and MS Edge */
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.round-corner {
  border-radius: 10px;
}

.pill-corner {
  border-radius: 100px;
}

.bg-gray {
  background-color: #e9ecef;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blue {
  background-color: #0d6efd;
  color: white;
}

.small-text {
  font-size: 0.9rem;
}

/* ************************************** */
/*    NAVBAR      */
/* ************************************** */

#logo-text {
  font-weight: 800;
  font-size: 1.8rem;
  background: linear-gradient(93.15deg, #0d6efd 19%, #29c5f6 79.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.navbar {
  border-bottom: 1px solid #e9ecef;
}

.navbar li {
  margin-right: 5px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 600;
}

.nav-sign-in {
  border-radius: 100px;
  width: 5rem;
  background-color: black;
  transition: all 200ms;
}

.nav-sign-in:hover {
  background: #29c5f6 0%;
}

#theme-div {
  background-image: "docs/ui-design/Mockup/assets/sun-svgrepo-com.svg";
}

.theme-icon {
  border-radius: 100px;
}

.theme-icon:hover {
  transition: all 200ms;
  background-color: #e9ecef;
}

#nav-dashboard:hover {
  transition: all 200ms;
  color: #29c5f6;
}

.hide {
  display: none;
}

/* ************************************** */
/*    CREATE NEW EVENT     */
/* ************************************** */

#add-poll-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  border-color: #29c5f6;
  transition: all 200ms;
}

#add-poll-btn:hover {
  background-color: #29c5f6;
  color: white;
}

#create-event-btn {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #0d6efd 0%, #29c5f6 100%);
  border-radius: 100px;
  transition: all 200ms;
}

#create-event-btn:hover {
  color: black;
  box-shadow: inset 0 0 0 4px black;
}

.day-btn {
  border: none;
}

/* ************************************** */
/*    DASHBOARD     */
/* ************************************** */
.meeting-item {
  height: 13rem;
  width: 13rem;
  background-color: #6c757d;
  border-radius: 10px;
}

.meeting-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.meeting-desc {
  font-size: 1rem;
}

.add-meeting-btn {
  height: 13rem;
  width: 13rem;
  border-radius: 10px;
  border-style: dashed;
  border-color: #6c757d;
}

/* ************************************** */
/*    FOOTER     */
/* ************************************** */
#footer {
  /* border-top: 1px solid #e9ecef;
  max-height: 20rem;
  font-size: 0.9rem; */
}

#footer li {
  /* margin: 10px 0; */
}

.link:link {
  color: black;
  text-decoration: none;
  transition: all 200ms;
}
